:root{
    --primarycolor: gold;
    --secondarycolor: black;
    --thirdcolor: orange;
    --fourthcolor: whitesmoke;
    --bonuscolor: red;
}

body{
    margin: 0px;
    background: url("https://p.favim.com/orig/2019/02/19/wallpaper-popcorn-cinema-Favim.com-6930901.jpg");
    background-position: center;
    height: 100%;
}


header{
    background-color: var(--secondarycolor);
    width: 100%;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-weight:bold ;
    font-style:italic ;
    font-size: 4em;
    color:var(--fourthcolor);
    
    text-align: center;
    margin: auto;
}


nav a{
    text-decoration: none;
    cursor: pointer;
    border: solid 5px var(--fourthcolor);
    color: var(--fourthcolor);
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}

nav a:hover{
    background-color: var(--thirdcolor);
    color: var(--secondarycolor);
    border: solid 5px var(--primarycolor);
    
}


article{
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.flex_container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    
}


/*Tutta la parte grafica per il flex_left*/
.flex_left{
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 30%;
    

}

.flex_left .up , .flex_left .bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    margin-bottom: 25px;
    background-color: var(--fourthcolor);
    border-radius: 25px;
    

    line-height: 4em;
}

.flex_left .up img{
    border: solid 3px var(--thirdcolor);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.flex_left .up h1{
    font-size: 2.5em;
}

.flex_left .up p{
    font-size: 2.5em;
}

.flex_left .up p a{
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    border:5px solid var(--secondarycolor);
    color: var(--secondarycolor);
}
.flex_left .up p a:hover{
   
    border:5px solid var(--thirdcolor);
    color: var(--thirdcolor);
}

.flex_left .up div{
    font-size: 1.5em;
}

.flex_left .up .decoration {
    width: 95%;
    border-radius: 25px;
    height: 10px;
    background-color: var(--thirdcolor);
}

.flex_left .bottom p{
    font-size: 2em;
}

.flex_left .bottom form{
 
    align-items: center;
    height: 30%;
}
.flex_left .bottom input{
    border-radius: 25px;
    background-color: var(--primarycolor);

}

.flex_left .bottom input:focus{
    background-color: var(--thirdcolor);
}

.flex_left .bottom #tasto{
    background-color: var(--secondarycolor);
    color: var(--fourthcolor);

}

.flex_left .bottom #tasto:hover{
    background-color: var(--thirdcolor);
    color: var(--secondarycolor);
}

.flex_left .sub-bottom{
    background-color: var(--fourthcolor);
    border-radius: 25px;
    margin: 2%;
    
}

.flex_left .sub-bottom img{
    border: 3px solid var(--thirdcolor);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.flex_left .sub-bottom div{
    text-align: center;
    font-size: 1.5em;
}




/*Tutta la parte grafica per il flex_center*/
.flex_center{
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    
    margin:1%;
    width: 100%;
}

.flex_center .creazione{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    width: 100%;
    border-radius: 25px;
    background-color: var(--fourthcolor);
}

.flex_center .creazione form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 100%;
}

.flex_center .creazione  form textarea{
    resize: none;
    width: 90%;
    border-radius: 10px;
    margin-top: 1%;
    background-color: var(--primarycolor);
}

.flex_center .creazione  form textarea:focus{
    background-color: var(--thirdcolor);
}

.flex_center .creazione form div{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.flex_center .creazione form div .left{
    width: 70%;
    border-radius: 10px;
    background-color: var(--primarycolor);
}

.flex_center .creazione form div .left:focus{
    background-color: var(--thirdcolor);
}


.flex_center .creazione form div .right{
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondarycolor);
    color: var(--fourthcolor);
}

.flex_center .creazione form div .right:focus{
    background-color: var(--thirdcolor);
}

.flex_center .creazione form div .right:hover{
    background-color: var(--thirdcolor);
    color: var(--secondarycolor);

}




/*Tutta la parte grafica per il flex_right*/
.flex_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1%;
    width: 40%;
}






footer{
    height: 40px;
    background-color: var(--secondarycolor);
    text-align: center;
    font-weight:normal ;
    font-style:normal ;
    font-size: 2em;
    color: var(--fourthcolor);
    line-height:normal;
    
}

/* Media Query */

@media (max-width: 1500px)
{
    
    
    .flex_left .up img{
        width: 150px;
        height: 150px;
    }
    

    body{
        font-size: 0.8em;
    }

    .flex_left .bottom, .flex_right .up{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15%;
    }

    .flex_left .bottom form, .flex_right .up form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .flex_left .sub-bottom img{
        width: 150px;
        height: 150px;
    }
    
}


@media (max-width: 1200px)
{
    .flex_left .bottom p{
        font-size: 1.2em;
    }
}


@media (max-width: 1000px)
{
    .flex_container{
        flex-direction: column;
    }

    .flex_left{
        width: 100%;    
    }
    
   

    .flex_left .up{
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-align: center;
        font-size: 0.8em;
    }

    .flex_left .up h1{
        display: none;
    }

    .flex_left .up img{
        width: 100px;
        height: 100px;
    }

    .flex_left .up .decoration{
        height: 90%;
        width: 5px;

    }
    
    .flex_left .up div{
        border-left: solid 1px var(--thirdcolor);
    }


    .flex_left .bottom{
        width: 100%;
        height: auto;
    }

    .flex_left .bottom .sub-bottom{
        width: 100%;
        height: auto;
    }

    .flex_left .sub-bottom img{
        width: 100px;
        height: 100px;
    }


    .flex_right{
        width: 100%;
    }

    .flex_right .up{
        height: 40%;
    }
    
    
}



@media (max-width: 700px)
{
    nav h1{
        font-size: 2em;
    }
   
    footer{
        font-size: 1.5em;
    }

    .flex_left .up div{
        display: none;
    }
}


@media (max-width: 500px)
{
    footer{
        font-size: 1em;
    }
}