:root{
    --primarycolor: gold;
    --secondarycolor: black;
    --thirdcolor: orange;
    --fourthcolor: whitesmoke;
    --errorcolor: red;
}

body{
    height: 100em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--secondarycolor);
}

.register_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    height: 40%;
}

.register_container .left{
    width: 40%;
    height: auto;
}

.register_container .left img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.register_container .right{
    width:50%;
    position:relative;
    left: -5%;

    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px;
    background-color: var(--fourthcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.register_container .right form{
    width: 100%;
    height: 100%;

    font-size: 1.2em;

    display: flex;
    
    align-items: center;
    flex-direction: column;

    line-height: 1em;

}

.register_container .right form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

.register_container .right form div label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin: 30px;
}

.register_container .right form div label input{
    margin-left: 5px;
    background-color: var(--primarycolor);
}



.hidden_error{
    display: none;
}

.check_error{
    display: block;
    font-size: 0.6em;
    color: red;
    padding: 0px;
    margin: 1px;
    text-align: right;

}

.register_container .right form div a{
    text-decoration: none;
    color:var(--primarycolor);
}

.register_container .right form div a:hover{
    color: var(--thirdcolor);

}

.register_container .right form div label input:focus{
    background-color: var(--thirdcolor);
    border-radius: 10px;
}


#invio input{

    size: 3em;
    border-radius: 10px;
    padding: 10px;
    background-color:var(--secondarycolor);
    color: var(--primarycolor);

}

#welcome{
    font-size: 2em;
}


.error{
    color: var(--errorcolor);
    
}

@media (max-width: 1500px)
{
    .register_container{

        align-items: center;
        flex-direction:column;
        width: 90%;
        height: 90%;
    }
    
    .register_container .left{
        width: 90%;
        height: 80%;
    }
    
    
    .register_container .right{
        width:90%;
        top: -5%;
        left: 0%;
        height: 100%;
        border-top-right-radius: 0px ;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        
    }
    
    
    .register_container .right form{
       
        height: 100%;
        line-height: 1.5em;
        
    }
    
    
    
}
@media (max-width: 1000px)
{
    .register_container .right form div{
        flex-direction: column;
        justify-content: unset;
    }
    
}


@media (max-width: 700px)
{
    .register_container{

        height: 60%;
    }
    
    .register_container .left{
        width: 90%;
        height: 60%;
    }
    
    #welcome{
        font-size: 1.5em;
    }
    
    .register_container .right{
        height: 100%;
    }

    .register_container .right form{
        font-size: 1.2em;
    }
    
    
    
}


@media (max-width: 500px)
{

    
    .register_container .right form{
        
        font-size: 1.2em; 
    }
    
    .register_container .right form div{
        justify-content: unset;
        
    }
    
}

@media (max-width: 400px)
{
    .register_container{
        width: 98%;
    }

    .register_container .left{
        height: 50%;
    }

    .register_container .right form{        
         font-size: 1em;
    }
    
    .register_container .right form div{
        justify-content: unset;
        
    }
    
    .register_container .right form div label{
        width: 15rem;
        
    }
}